.vColorField {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.vColorField input[type="number"] {
  width: 90px;
  box-sizing: border-box;
}

.sp-replacer {
  position: relative;
  padding: 2px 0 2px 2px;
  width: 100px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
}

.errors .sp-replacer {
  border-color: #ba2121;
}

.sp-initial span {
  height: 24px;
}

.sp-input {
  font-size: 14px !important;
  border: 1px solid #b0b0b0;
}

.sp-preview {
  overflow: hidden;
  margin-right: 0;
  width: 80px;
  height: 100%;
  border-radius: 4px;
  box-sizing: border-box;
}

.sp-dd {
  position: relative;
  margin-top: -8px;
  top: 50%;
  width: 16px;
  line-height: 1;
  text-align: center;
}
